.basket-style h1 {
    margin-left: 35px;
}

h2 {
    margin-left: 35px;
}

table {
    cursor: pointer;
    margin-left: 35px;
    border-collapse: collapse;
    border: 1px solid black;
    /* margin-top: -200px; */
}

table tr td {
    border: 1px solid black;
    padding: 5px 25px;
}